{% extends 'products/base.html' %}

{% block content %}
<h1 class="my-4">Excluir -
    <small>{{ object }}</small>
</h1>
<div class="row">
    <div class="col-12">
        <form method="post">
            {% csrf_token %}
            <div class="alert alert-warning" role="alert">
                Tem certeza de que deseja excluir {{ object }} ?
            </div>
            <input type="submit" class="btn btn-info" value="Sim, excluir" />
            <a class="btn btn-success" href="{% url 'product_list' %}">Não, apenas cliquei no botão de excluir por
                engano</a>
        </form>
    </div>
</div>
{% endblock %}